@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FFFFFF;
    color: #111827;
    font-family: 'Inter', 'Geist', sans-serif;
    min-height: 100vh;
  }
}
